@font-face{
    font-family: "SF-Pro-Display";
    src: url(../font/SF-Pro-Display-Regular.ttf)format('truetype');
    }

@font-face{
    font-family: "SF-Pro-Display-Bold";
    src: url(../font/SF-Pro-Display-Bold.ttf)format('truetype');
    }

@font-face {
    font-family: "Product Sans";
    src: url(../font/Product\ Sans\ Regular.ttf)format('truetype');
}

* {
    font-family: "SF-Pro-Display";
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0vh;
}

::-webkit-scrollbar{
    width: 1vh;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{

    background: #9900ff;

    border-radius: 100vh;

}
::-webkit-scrollbar-thumb:hover{
    background: #ce93ff;
}

.row {
    right: 5%;
}

.bi-bi-gear-fill{
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.corpo {
    margin: 0% 25%;
}

.navbar {
    background-color: purple;
}

.navbar-brand {
    color: white;
}

.nav-link{
    color: white;
}
