@font-face{
    font-family: "SF-Pro-Display";
    src: url(../font/SF-Pro-Display-Regular.ttf)format('truetype');
    }

@font-face{
    font-family: "SF-Pro-Display-Bold";
    src: url(../font/SF-Pro-Display-Bold.ttf)format('truetype');
    }

@font-face {
    font-family: "Product Sans";
    src: url(../font/Product\ Sans\ Regular.ttf)format('truetype');
}

*{
    font-family: "SF-Pro-Display";
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0vh;
}

::-webkit-scrollbar{
    width: 1vh;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{

    background: #9900ff;

    border-radius: 100vh;

}
::-webkit-scrollbar-thumb:hover{
    background: #ce93ff;
}

.topbar{
    width: auto;
    height: 17vh;
    background-color: #7900bf;
}

.navbar {
    font-family: SF-Pro-Display-Bold;
    justify-content: center;
    align-items: center;
    line-height: 13vh;
    font-size: 5vh;
    color: whitesmoke;
}

.row {
    right: 5%;
}

.bi-bi-gear-fill{
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.corpo {
    margin: 0% 25%;
}

.btn1 {
    font-family: Product Sans;
}

